## Variables

Variables are some thing that stores data into to it.

* variable declaration and assigning variables

In [1]:
## Declaration and Assigning variables

age=22
height=6.1
name="Krish"
is_student=True

## Printing variables

print("Age:",age)
print("heigh:",height)
print("Name:",name)
print("Is Student:",is_student)

Age: 22
heigh: 6.1
Name: Krish
Is Student: True

In [2]:
## Valid variable names

first_name="Krish"
firstName="Krish"
fname1="Krish"
FirstName="Krish"

In [3]:
## Invalid variable names

# 2age
# user-age
# @user

In [4]:
## Case sensitivity

name="Krish"
Name="Nayak"

name==Name

False

In [5]:
## Understanding variable types
## Python is dynamically typed, type of variable is determined at runtime

age=25 #int
height=6.4 #float 
name="Krish" #string
is_student=False #boolean

In [6]:
## Type checking and conversion
type(height)

float

In [8]:
age=24
print(type(age))

## Type conversion
age_str=str(age)
print(type(age_str))

<class 'int'>
<class 'str'>

In [9]:
age='24'
print(type(int(age)))

<class 'int'>

In [10]:
name='Krish'
int(name) ## complete string can't convert into float/int

ValueError: invalid literal for int() with base 10: 'Krish'

In [11]:
height=5.11
type(height)

float

In [12]:
type(int(height))

int

In [13]:
## Dynamic Typing
## python allows the type of the variable to change as the program executes


var=10
print(var,type(var))

var=str(var)
print(var,type(var))

var=float(var)
print(var,type(var))

10 <class 'int'>
10 <class 'str'>
10.0 <class 'float'>

In [15]:
## Input

age=int(input("What is your age?"))
print(age,type(age))

23 <class 'int'>

### Simple calculator

In [16]:
num1=float(input("Enter number one:"))
num2=float(input("Enter number 2:"))

sum=num1+num2
sub=num1-num2
mul=num1*num2
div=num1/num2

print("Sum of two numbers:",sum)
print("Sub of two numbers:",sub)
print("Multiply of two numbers:",mul)
print("Divide of two numbers:",div)

Sum of two numbers: 66.0
Sub of two numbers: -2.0
Multiply of two numbers: 1088.0
Divide of two numbers: 0.9411764705882353