## Operators

1. Arithmetic Operators
2. Logical Operators
3. Comparision Operators

In [3]:
## Arithmetic Operations

a=10
b=15

result_add=a+b
result_sub=a-b
result_mul=a*b
result_div=a/b
result_mod=a%b
result_floor_division=a//b
result_exp=a**b


print(result_add)
print(result_sub)
print(result_mul)
print(result_div)
print(result_mod)
print(result_floor_division)
print(result_exp)

25
-5
150
0.6666666666666666
10
0
1000000000000000

In [6]:
## Comparision Operators

## == Equal to
a=10
b=10
a==b

True

In [2]:
str1="Krish"
str2="Krish"

str1==str2,id(str1),id(str2)

(True, 139987789689360, 139987789689360)

In [8]:
## != Not equal to
str1!=str2

False

In [11]:
## > Greater than

num1=45
num2=42

num1>num2

True

In [12]:
## < Less than

num1<num2

False

In [13]:
## >= Greater than or equal to

n1=43
n2=43
n1>=n2

True

In [14]:
## <= Greater than or equal to

n1<=n2

True

In [15]:
## Logical Operators

## And
a=43
b=21
print(bool(a) and bool(b))

True

In [16]:
## And
a=43
b=None
print(bool(a) and bool(b))

False

In [18]:
## Or
a=43
b=None
print(bool(a) or bool(b))

True

In [21]:
## Not
a=43
b=None
print(not(bool(a) and bool(b)))

True

In [23]:
x=True
not x

False