## Tuples

* Ordered collections of items 
* They are immutable

In [1]:
## creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
## casting
lst=list()
print(type(lst))
tuple_=tuple()
print(type(tuple_))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,45])
numbers

(1, 2, 3, 4, 45)

In [4]:
list((1,2,3,4,5,5))

[1, 2, 3, 4, 5, 5]

In [5]:
## Mixed dtypes
mixed_dtypes=(1,2.3,True,"String")
print(mixed_dtypes)

(1, 2.3, True, 'String')

In [6]:
## Accessing tuple elements
numbers

(1, 2, 3, 4, 45)

In [7]:
numbers[0],numbers[-1]

(1, 45)

In [8]:
## slicing
numbers[1:-1:2]

(2, 4)

In [9]:
## Tuple operations

numbers,mixed_dtypes

((1, 2, 3, 4, 45), (1, 2.3, True, 'String'))

In [10]:
numbers+mixed_dtypes ## concatination

(1, 2, 3, 4, 45, 1, 2.3, True, 'String')

In [11]:
mixed_dtypes*3

(1, 2.3, True, 'String', 1, 2.3, True, 'String', 1, 2.3, True, 'String')

In [12]:
## immutable nature of tuples
## Tuples are immutable, meaning their elements are cannot be changed once assigned
list_=[1,2,3,34,4]
print(list_)
list_[0]=132
print(list_)

[1, 2, 3, 34, 4]
[132, 2, 3, 34, 4]

In [13]:
tuple_data=tuple(list_)
# tuple_data[0]=12

In [14]:
## Tuple methods
numbers

(1, 2, 3, 4, 45)

In [15]:
print(numbers.count(45))
print(numbers.index(45))

1
4

In [16]:
## Packing and unpacking tuple

## Packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [17]:
## Unpacking tuple
a,b,c=packed_tuple
a

1

In [19]:
## Unpacking with *

numbers=(1,2,3,4,5)
first,*middle,last=numbers

In [20]:
first,middle,last

(1, [2, 3, 4], 5)

In [21]:
## Example for Nested List
list_=list((1,2,3,4,list((11,22,33,44))))
list_

[1, 2, 3, 4, [11, 22, 33, 44]]

In [22]:
list_[0],list_[4][2]

(1, 33)

In [23]:
lst=[(1,2,3),[32,42,52],[67,42.42,23]]
lst

[(1, 2, 3), [32, 42, 52], [67, 42.42, 23]]

In [24]:
lst[0][0:]

(1, 2, 3)

In [26]:
## Nested tuple
tup=((1,2,3),(32,42,52),(67,42.42,23))
tup

((1, 2, 3), (32, 42, 52), (67, 42.42, 23))

In [27]:
tup[0][1:]

(2, 3)

In [31]:
## Iterate over a tuple
for t_ in tup:
    for t in t_:
        print(t,end=" ")
    print( )

1 2 3
32 42 52
67 42.42 23