## Sets

* Unordered
* Not allowing duplicates
* Immutable

In [24]:
## Creating a set
set_={1,"String","False",True,3.21,False}
print(set_)
print(type(set_))

{False, 1, 3.21, 'False', 'String'}
<class 'set'>

In [25]:
my_empty_set=set()
print(my_empty_set,type(my_empty_set))

set() <class 'set'>

In [26]:
## Basic set operations
## Adding and removing
set_.add(4)
print(set_)

{False, 1, 3.21, 4, 'False', 'String'}

In [27]:
set_.add(4)
set_

{1, 3.21, 4, False, 'False', 'String'}

In [28]:
## Removing the elements
set_.remove(4)
set_

{1, 3.21, False, 'False', 'String'}

In [29]:
set_.remove(10)
set_

KeyError: 10

In [30]:
## Remove element if it presents else throw original set
set_.discard(412)
set_

{1, 3.21, False, 'False', 'String'}

In [31]:
## Pop method
removed_element=set_.pop()
print(removed_element)
print(set_)

False
{1, 3.21, 'False', 'String'}

In [32]:
## Set Membership test
my_set={1,2,3,4,5,6}
print(3 in my_set)
print(10 in my_set)

True
False

In [1]:
## Mathematical operations

set_1={1,2,3,4}
set_2={3,4,5,6,7,8}
union_set=set_1.union(set_2)
union_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
set_1.update(set_2)
set_1

(None, {1, 2, 3, 4, 5, 6, 7, 8})

In [3]:
## Intersection 
intersection_set=set_1.intersection(set_2)
intersection_set

{3, 4}

In [9]:
set_1.intersection_update(set_2)
set_1

{3, 4}

In [13]:
set_1={1,2,3,4,5,6,10}
set_2={4,5,6,7,8,9}
print(set_1.difference(set_2)) ## Removes common element from set_1

{10, 1, 2, 3}

In [14]:
set_1

{1, 2, 3, 4, 5, 6, 10}

In [16]:
## Symmetric difference 
set_1.symmetric_difference(set_2) ## Removes common elements and combine both of the sets

{1, 2, 3, 7, 8, 9, 10}

In [19]:
## Set methods

set1={1,2,3,4,5}
set2={3,4,5}
set1.issubset(set2) ## Means all elements in set1 should present in set2

False

In [21]:
set1.issuperset(set2) ## set2 is subset of set1

True

In [22]:
## list->set
lst=list((1,2,4))
set(lst)

{1, 2, 4}

In [26]:
## Count unique words in text

text="Hello bhai am from India and you are from"
words=text.split()

## Convert them into set
set_=set(words)
print(len(set_),set_)

8 {'bhai', 'you', 'are', 'India', 'from', 'and', 'Hello', 'am'}