## Dictionaries

* Unordered collection of items
* Key-value pairs
* Key must be unique and immutable

In [1]:
## Creating dict
empty_dict={

}
print(empty_dict,type(empty_dict))

{} <class 'dict'>

In [2]:
empty_dict=dict()
print(empty_dict,type(empty_dict))

{} <class 'dict'>

In [3]:
student={
    "name":"Kesavan",
    "age":20,
    "grade":24
}

In [4]:
student

{'name': 'Kesavan', 'age': 20, 'grade': 24}

In [5]:
## accessing dict items
student={
    "name":"Kesavan",
    "age":20,
    "grade":24
}
student['name'],student['age']

('Kesavan', 20)

In [6]:
## using get method
print(student.get("age"),student.get("grade"))

20 24

In [7]:
# default value
print(student.get("address","Not available"))

Not available

In [8]:
## Modifying dictionaries element
## Dictionaries are mutable, so you can add, update or delete element

print(student)

{'name': 'Kesavan', 'age': 20, 'grade': 24}

In [9]:
student["age"]=32
print(student["age"])
student["address"]="India"
print(student)

32
{'name': 'Kesavan', 'age': 32, 'grade': 24, 'address': 'India'}

In [10]:
## delete
del student["address"]
student

{'name': 'Kesavan', 'age': 32, 'grade': 24}

In [11]:
## Common dictionaries methods

keys=student.keys() 
print(keys)

values=student.values()
print(values)

items=student.items()
print(items)

dict_keys(['name', 'age', 'grade'])
dict_values(['Kesavan', 32, 24])
dict_items([('name', 'Kesavan'), ('age', 32), ('grade', 24)])

In [12]:
## Reference copy

student_copy=student
print(student)
print(student_copy)

{'name': 'Kesavan', 'age': 32, 'grade': 24}
{'name': 'Kesavan', 'age': 32, 'grade': 24}

In [13]:
student["name"]="Ram"
print(student)
print(student_copy)

{'name': 'Ram', 'age': 32, 'grade': 24}
{'name': 'Ram', 'age': 32, 'grade': 24}

In [14]:
## Shallow copy
student_copy=student.copy()
student.update({"Address":"Ponneri"})
print(student_copy)
print(student)

{'name': 'Ram', 'age': 32, 'grade': 24}
{'name': 'Ram', 'age': 32, 'grade': 24, 'Address': 'Ponneri'}

In [15]:
## Iterating over dictionaries

for key in student.keys():
    print(key)

name
age
grade
Address

In [16]:
for value in student.values():
    print(value)

Ram
32
24
Ponneri

In [17]:
## Iterate over key value pair
for key,value in student.items():
    print(f"keys:{key} and value {value}")

keys:name and value Ram
keys:age and value 32
keys:grade and value 24
keys:Address and value Ponneri

In [18]:
## Nested dictionaries
students={
    "student1":{"name":"Krish","age":20},
    "student2":{"name":"Ramesh","age":22},
    "student3":{"name":"Kumar","age":24}
}

In [19]:
students

{'student1': {'name': 'Krish', 'age': 20},
 'student2': {'name': 'Ramesh', 'age': 22},
 'student3': {'name': 'Kumar', 'age': 24}}

In [20]:
## Access Nested dictionaries
print(students["student1"]["name"])

Krish

In [21]:
## Iterating over nested dict
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Krish', 'age': 20}
name:Krish
age:20
student2:{'name': 'Ramesh', 'age': 22}
name:Ramesh
age:22
student3:{'name': 'Kumar', 'age': 24}
name:Kumar
age:24

In [22]:
## Dictionary comphrension
squares={x:x**2 for x in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [23]:
dataset={x:y for x in range(5) for y in ["Ram","Yolo","Jupiter","sham","Yield"]}
dataset

{0: 'Yield', 1: 'Yield', 2: 'Yield', 3: 'Yield', 4: 'Yield'}

In [24]:
another_data={x: x**2 for x in range(10) if(x%2==0)}
another_data

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [25]:
## Find the frequency of each value in list

list_=[1,1,1,2,3,2,4,5,5,4,3,1,6]
freq={j:list_.count(j) for i,j in enumerate(list_)}
freq

{1: 4, 2: 2, 3: 2, 4: 2, 5: 2, 6: 1}

In [26]:
## Merge two dictionaries
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}

using_mul_symbol={**dict1,**dict2}
using_mul_symbol

{'a': 1, 'b': 2, 'c': 3, 'd': 4}