## The map() function 

It applies a given function to all function to all items in an input list (or any other iterable) and returns a map object (an iterator). This is particularly useful for transforming data in a list comphrensive

In [2]:
def square(x):
    return x**2

square(10)

100

In [3]:
numbers=[1,2,3,4,5,6]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36]

In [4]:
## With lambda
numbers=[1,2,3,4,5,6]
list(map(lambda x:x*2,numbers))

[2, 4, 6, 8, 10, 12]

In [5]:
## Map multiple iterable
number1=[1,2,3]
number2=[4,5,6]
list(map(lambda x,y:x+y,number1,number2))

[5, 7, 9]

In [1]:
## Map to convert a list of string to int
list(map(lambda x:int(x),["1","2","3","4"]))

[1, 2, 3, 4]

In [2]:
words=['apple','banana','cherry']
list(map(lambda x:x.upper(),words))

['APPLE', 'BANANA', 'CHERRY']

In [3]:
## Perform operations in dictionaries
people=[
    {"name":"Kesavan","age":20},
    {"name":"Joseph","age":22}
]
list(map(lambda x:x["name"],people))

['Kesavan', 'Joseph']